.two-column {
    display: flex;
    margin: 0;
    padding: 0;
}

.firstCol {
    width: 15%;
    transition: all 0.3s;
}

.secondCol {
    width: 80%;
    transition: all 0.3s;
}

.menuCollapseBtn {
    background-color: transparent;
    font-size: 30px;
}

.addEventBtn, .addUserBtn {
    background-color: rgba(84, 41, 255, 1);
    box-shadow: 3px 3px 5px black;
}

.logOutBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 3em !important;
    font-size: 18px;
    background-color: rgba(84, 41, 255, 1);
    padding: 10px 20px 10px 20px;
    z-index: 999;
}

.btn-toggle {
    cursor: pointer;
}

.dashboardWrapper {
    margin: 5% 0 0 3%;
    width: 90%;
}

.welcomeAdmin {
    font-weight: 750;
}

.tableWrapper {
    margin-top: 10%;
    margin-left: 5%;
}

.table-cell {
    max-height: 100px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.table-cell::-webkit-scrollbar {
    display: none;
}

.action {
    cursor: pointer;
    color: grey;
}

/**
 *  ProSidebar
 */

.pro-sidebar {
    position: fixed !important;
    top: 0;
    left: 0;
}

.pro-sidebar > .pro-sidebar-inner {
    background-color: rgba(84, 41, 255, 1) !important;
    height: 100vh !important;
}

.pro-sidebar.collapsed {
    width: 60px !important;
    min-width: 60px !important; 
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
    border-bottom: none !important;
}

.pro-sidebar .pro-menu {
    position: relative;
    top: 25vh;
    padding-left: 50px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content > a{
    text-align: left;
    color: #fff;
    font-size: 20px;
}

/**
 *  Form
 */

#createForm {
    color: #fff;
    display: inline-block;
    width: 25%;
    text-align: left;
    background-color: rgba(84, 41, 255, 1);
    box-shadow: 10px 10px 2em rgba(180, 180, 180);
    border-radius: 20px;
    padding: 1.5em;
    margin-top: 1.5em;
}

#createForm label {
    font-weight: 700;
}

#createForm input[type="text"] {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1.5em;
    padding: 2px 5px;
}

#createForm input[type="submit"] {
    float: right;
    border-radius: 20px;
    background-color: #fff;
    font-size: 16px;
}

#createForm select {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1.5em;
    padding: 2px 5px;
}

@media screen and (max-width: 900px) {
    #createForm {
        width: 80%;
    }
}

.updateBtn {
    float: right;
    background-color: #fff;
    color: #000;
}