/* // CSCI-2720 Project Group 30 Culture Programme

// Group Members:

// 1155141928 Cheuk Chun Lok            

// 1155143453 Shek Wui Lun            

// 1155142754 Chiu Man Ho

// 1155126403 Wong Yu Shing            

// 1155143965 Yau Chun Tung              

// 1155143076 Yeung Sze Ki */


.page-title-box .page-title {
    font-size: 25px;
    margin: 0;
    line-height: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #6c757d;
    font-family: "Nunito", sans-serif;
}

.page-title-right {
    text-align: right;
}
.table-centered th, .table-centered td {
    vertical-align: middle !important;
    text-align: center;

}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    padding: 0.45rem 0.9rem;
    font-size: 0.9rem;
    border-radius: 0.15rem !important;
}

.btn-primary {
    color: #fff;
    background-color: rgba(84, 41, 255, 1);
    border-color: rgba(84, 41, 255, 1); /*set the color you want here*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgba(84, 41, 255, 1);
    border-color: rgba(84, 41, 255, 1); /*set the color you want here*/
    text-decoration: underline;

}

.button-color {
    background-color: rgba(84, 41, 255, 1);
    color: white
}

.text-body {
    color: #6c757d !important;
}

a:link {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
}
  
