/* // CSCI-2720 Project Group 30 Culture Programme

// Group Members:

// 1155141928 Cheuk Chun Lok            

// 1155143453 Shek Wui Lun            

// 1155142754 Chiu Man Ho

// 1155126403 Wong Yu Shing            

// 1155143965 Yau Chun Tung              

// 1155143076 Yeung Sze Ki */


.buttonColor {
    background-color: rgba(84, 41, 255, 1);
}

input, input::placeholder {
    font-size: 15px;
}

.navbar-color {
    background-color: rgba(84, 41, 255, 1);
}

.footer-color {
    background-color: rgba(84, 41, 255, 1);
    color: white;

}
.footer {
    /* position:absolute; */
    left:0;
    bottom:0;
    right:0;    
}


.map-container {
    width: 100%;
    height: 100vh;
}
